*{
    margin: auto 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: whitesmoke;
    padding-top: 50px;
    position: fixed;
    width: 100%;
    border-bottom:whitesmoke;
    border-bottom-style: ridge;
    z-index: 5;
}
.navbar li{
    margin-right: 5%;
    position: relative;
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/background-top.jpg');
    background-size: 100%;
    color: white;
    font-size: 200%;
    background-blend-mode: darken;

}
.top hr{
    width: 53%;
    margin-left: 25%;
}
.top h1{
    margin-left: 25%;
}
.top p{
    margin-left: 30%;
}

.line{
    border: 1px grey solid;
    position: absolute;
    box-shadow: 10px 10px 8px black;
    left: 30%;
    width: 700px;
    border-radius: 30px;
    background-blend-mode: color;
    background: linear-gradient(to bottom right,#888888,25%,rgba(57, 63, 65, 0.36));
}

.mid{
    margin: 0 auto;
    position: relative;
    /* background-color: #C7D1E5; */
    background-image: linear-gradient(to right,#0A1719,#bdc3c7,#0A1719);
    overflow: hidden;
    /* border-bottom: solid 4px #C7D1E5; */
}
.mid #eduphoto{
    position: absolute;
    height: 65%;
    width: 50%;
    bottom: 0; right: 0;
    z-index: 0;
    opacity: 0.5;

}

.mid #photo{
    background-color: #1A2E34;
    position: absolute;
    border: black 2px solid;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    top: 10%; left: 20%;
}

#profilephoto{
    /* position: absolute; */
    width: 250px;
    height: 250px;
  
    
}

#bio{
    position: relative;
    background-color: rgba(245, 245, 245, 0.36);
    border-radius: 25%;
    padding: 100px;
    width: 500px;
    left: 45%; top: 50px;
    line-height: 150%;
    z-index: 2;
}

#bio h1{
    top: 0; 
}

#bio p{
    bottom: 20px ;
}
#bio2{
    position: relative;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 25%;
    padding: 100px;
    width: 500px;
    line-height: 150%;
    left: 12%; bottom: 50px;
    z-index: 2;
}

.bottom {
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(to right,#0A1719,#bdc3c7,#0A1719);
    padding: 100px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.bottom .grid-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 100px;
    font-size: 30px;
    text-align: center;
}
#resume{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/resume.jpg');
    position: relative;
}
#resume p{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    left:0; top: 40%;

    color: white;
    font-size: 100%;
}
#interviews{
    
}

#culture{
    
}

#projects{
    
}

#knowledge{
    
}

#tools{
    
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    min-height: 100%;
    background-color: #F5F5F5;

}